.Header-content {
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid #000000;
  align-items: center;
  .Header__name {
    margin-left: 20px;
  }
  .user-nav {
    display: flex;
    justify-content: space-between;
    &__name {
      margin-right: 20px;
    }
    &__log {
      margin-right: 20px;

    }
  }
}