.Main-wrapper
  %ul
    %li.Category__content
      .Category__content__area
        .Category__content__area__left
          = link_to "料理", "#"
        .Category__content__area__right
          .Category__content__area__right__destory
            削除
          .Category__content__area__right__edit
            編集
      .Category__content__comment
        ＜コメント＞
        %br
        12345678901234567890